<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Full suite" parallel="false">
    <test verbose="1" name="openmark" annotations="JDK">
        <packages>
            <package name="com.urielsarrazin.opendown"/>
        </packages>
    </test>
</suite>